html {
    height: 100%;
    font-size: 16px;
}

body{
    background: url("./images/bg.jpg") repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100%;
    font-family: 'Roboto', sans-serif;
}

@media (max-width: 420px) {
   html{
       font-size: 12px;
    }
    
}

@media (max-width: 720px) {
   html{
       font-size: 13px;
    }
    
}
