.overlay{
    background-color: #000;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    opacity: 0.15;
    z-index: -1;
}

.content{
    width: 80vw;
    max-width: 700px;
    min-height: 300px;
    background-color: #000;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
    padding: 20px;
}

.content__header {
    font-size: 5rem;
    margin: 0;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    text-align: center;
}

.content__sub-header {
    text-transform: uppercase;
    margin: 0;
    font-size: 2rem;
    font-family: 'Oswald', sans-serif;
    text-align: center;

}

.content__sub-header::before{
    content: "[";
    top: -0.1rem;
    position: relative;
    font-size: 2.5rem;

}

.content__sub-header::after{
    content: "]";
    top: -0.1rem;
    position: relative;
    font-size: 2.5rem;

}

.content__social-media{
    font-size: 1.5rem;
}

.social-media__link{
    color: #fff;
}

.footer{
    position: fixed;
    bottom: 0;
    right: 0;
    background-color: #000;
    width: 100%;
    color: #fff;
    font-size: 0.8rem;
    padding: 5px 10px;
    text-align: right;
}
